body {
    font-family: 'Poppins', sans-serif;
}

.hero-section {
    background-image: url('images/DBSTournament.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}

.hero-section h1,
.hero-section p {
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7);
}

.btn {
    background-color: #FFD600;
    color: #000;
    font-weight: 600;
    padding: 15px 25px;
    border-radius: 20px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #000000;
    color: #FFD600;
}

.mt-5 {
    text-shadow: 2px 2px 4px rgba(139, 139, 139, 0.7);
}

.navbar {
    background: rgba(0, 0, 0, 0.4) !important;
    backdrop-filter: blur(6px);
}

.navbar .nav-link {
    color: #FFD600 !important;
}

.navbar .nav-link:hover {
    color: #00B0FF !important;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-color: white;
    border-radius: 10px;
    transition: transform 0.3s ease;
    margin-bottom: 30px;
}

.card:hover {
    transform: translateY(-10px);
}

.card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
